body {
  background-color: #53d0ed;
  font-family: Verdana, sans-serif;
}

nav {
  position: absolute;
  top: 10px;
  left: 10px;
}

nav a {
  text-decoration: none;
  background-color: #0a3847;
  color: white;
  padding: 6px 10px;
  border-radius: 2px;
  font-size: 12px;
}

h1, h2 {
  border-bottom: 2px solid #010250;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
}

h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}

p {
  background-color: #286067;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

img {
  margin: 10px;
  border-radius: 8px;
}

figcaption {
    font-size: 14px;
}